.git
.run
.idea
.ipynb_checkpoints
# -------------------------------------------------------------------------------------------------------------------- #
_.py
wandb
__pycache__
# -------------------------------------------------------------------------------------------------------------------- #
*.csv
*.txt
*.jpg
*.png
*.pt
*.onnx
*.trt
# -------------------------------------------------------------------------------------------------------------------- #